<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="index.html" class="brand-logo">Cal/Fit</a>

        <ul class="right hide-on-med-and-down">
            <li><a href="login.html">Log in</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="login.html">Log in</a></li>
        </ul>

        <ul class="right hide-on-med-and-down">
            <li><a href="sign-up.html">Sign Up</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="sign-up.html">Sign Up</a></li>
        </ul>

        <ul class="right hide-on-med-and-down">
            <li><a href="Profile.html">Profile</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="Profile.html">Profile</a></li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center">Breakfast</h1>
            <div class="row center">
                <h5 class="header col s12 light">Input your Breakfast and we'll keep track of your caloric intake</h5>

                <input class="input" type="text" placeholder="Enter Recipe" name="bfast1" required>

                <input class="input" type="text" placeholder="Enter ingredients" name="bfast2" required>

                <input class="input" type="text" placeholder="Enter Serving Size" name="bfast3" required>
            </div>
            <div class="row center">
                <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Analyze</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="../images/IMG_3308-1024x766.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">Calories</i></h2>
                    <p class="light">...</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">Diet Type</i></h2>

                    <p class="light">...</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">Diet Preference</i></h2>

                    <p class="light">...</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h1 class="header center">Lunch</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Input your Lunch and we'll keep track of your caloric intake</h5>

                    <input class="input" type="text" placeholder="Enter Recipe" name="lunch1" required>

                    <input class="input" type="text" placeholder="Enter ingredients" name="lunch2" required>

                    <input class="input" type="text" placeholder="Enter Serving Size" name="lunch3" required>


                    <div class="row center">
                        <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Analyze</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="../images/tumblr_m8ceav21IQ1qet4ggo1_1280.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">Calories</i></h2>
                    <p class="light">...</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">Diet Type</i></h2>

                    <p class="light">...</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">Diet Preference</i></h2>

                    <p class="light">...</p>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h1 class="header center">Dinner</h1>
                <h5 class="header col s12 light">Input your Dinner and we'll keep track of your caloric intake</h5>

                <input class="input" type="text" placeholder="Enter Recipe" name="din1" required>

                <input class="input" type="text" placeholder="Enter ingredients" name="din2" required>

                <input class="input" type="text" placeholder="Enter Serving Size" name="din3" required>
                <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Analyze</a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="../images/Healthy-Dinner1.jpg" alt="Unsplashed background img 3"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">Calories</i></h2>
                    <p class="light">...</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">Diet Type</i></h2>

                    <p class="light">...</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">Diet Preference</i></h2>

                    <p class="light">...</p>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
</div>


<footer class="page-footer">
    <div class="container">
        <div class="devImages">
            <div class="row">
                <h5 class="devConnect">Connect with our Developers</h5>
            </div>
            <div class="row">
                <div class="col l4 s4">
                    <img src="../images/Cameron.png" alt="Cameron" width="150" />
                    <p>
                        Cameron Ball
                        <br> Backend Developer
                        <br>
                        <a href="http://github.com/cameronleeball">
                <img src="../images/github.png" alt="github cameron" height="42" width="42">
              </a>
                        <a href="https://www.linkedin.com/in/cameronleeball/">
                <img src="../images/linkedin.png" height="42" width="42">
              </a>
                        <a href="mailto:cameronleeball@gmail.com">
                <img src="../images/email.png" height="42" width="42">
              </a>
                    </p>
                </div>
                <div class="col l4 s4">
                    <img class="richard" src="../images/Richard.png" alt="Richard" width="150" />
                    <p>
                        Richard Woodward
                        <br> Backend Developer
                        <br>
                        <a href="https://github.com/rickwoody86">
                <img src="../images/github.png" height="42px" width="42px">
              </a>
                        <a href="https://www.linkedin.com/in/richard-woodward-747042134/">
                <img src="../images/linkedin.png" height="42px" width="42px">
              </a>
                        <a href="mailto:rickwoody86@gmail.com">
                <img src="../images/email.png" height="42px" width="42px">
              </a>
                    </p>
                </div>
                <div class="col l4 s4">
                    <img class="wali" src="../images/Wali.png" width="150" />
                    <p>
                        Wali Pitt
                        <br> Frontend Developer
                        <br>
                        <a href="http://github.com/walidpitt">
                <img src="../images/github.png" height="42px" width="42px">
              </a>
                        <a href="https://www.linkedin.com/in/wali-pitt-61666941/">
                <img src="../images/linkedin.png" height="42px" width="42px">
              </a>
                        <a href="mailto:walidpitt@gmail.com">
                <img src="../images/email.png" height="42px" width="42px">
              </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <p> Created by Team Chicago©</p>
        </div>
    </div>
</footer>