<div>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">

      <ul class="right hide-on-med-and-down">
        <li><a href="/sign-up">Sign Up</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/sign-up">Sign Up</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a href="/profile">Profile</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/profile">Profile</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
      </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <header>
    <h1 class="header-logo">Unique Cuisine</h1>
  </header>
  <p class="header-text">
    The Recipe Finder designed to find any dish to meet you Dietary and Allergy needs<br>
  </p>

  <br><br>

  <form action="/login" method="POST">

    <div class="container">
      <input type="text" placeholder="Enter Username" name="username" required>


      <input type="password" placeholder="Enter Password" name="password" required>

      <button class="login" type="submit">Login</button>
      <input type="checkbox" checked="checked">
    </div>

  </form>

  <br><br>

  <div class="section">

  </div>
</div>

