<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">

        <ul class="right hide-on-med-and-down">
            <li><a href="/sign-up">Sign Up</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/sign-up">Sign Up</a></li>
        </ul>

        <ul class="right hide-on-med-and-down">
            <li><a href="/login">Log in</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/login">Log in</a></li>
        </ul>

        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/">Home</a></li>
        </ul>


        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<header>
    <h1 class="header-logo">Your Unique Cuisine Profile</h1>
</header>


<form action="/profile?_method=PUT" method="POST">

    <div class="container">

        <h5 class="header col s12 light">Harold Coleman</h5>
       
        <h5 class="header col s12 light">DreamnMirror</h5>

        <h5 class="header col s12 light">HColeman@gmail.com</h5>

        <p class="header2-text">Your diet preferences</p>
        <tr>
          <td>
            <input type="checkbox" class="css-checkbox" id="checkbox1" data-val="true" and value="true" name="vegetariann" />
            <label for="checkbox1" name="checkbox19_lbl" class="css-label dark-check-green">Vegetarian</label>
          </td>
        </tr>

        <tr>
          <td>
            <input type="checkbox" id="checkbox2" class="css-checkbox" data-val="true" and value="true" name="vegan" />
            <label for="checkbox2" name="checkbox2_lbl" class="css-label lite-orange-check">Vegan</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="checkbox3" class="css-checkbox" data-val="true" and value="true" name="paleo" />
            <label for="checkbox3" name="checkbox2_lbl" class="css-label lite-red-check">Paleo</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="css-checkbox" id="checkbox4" data-val="true" and value="true" name="highFiber" />
            <label for="checkbox4" name="checkbox1_lbl" class="css-label lite-gray-check">High Fiber</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="checkbox5" class="css-checkbox" data-val="true" and value="true" name="lowCarb" />
            <label for="checkbox5" name="checkbox2_lbl" class="css-label lite-blue-check">Low Carb</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="checkbox6" class="css-checkbox" data-val="true" and value="true" name="lowFat" />
            <label for="checkbox6" name="checkbox2_lbl" class="css-label lite-cyan-check">Low Fat</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="checkbox7" class="css-checkbox" data-val="true" and value="true" name="lowSodium" />
            <label for="checkbox7" name="checkbox1_lbl" class="css-label lite-cyan-check">Low Sodium</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="checkbox8" class="css-checkbox" data-val="true" and value="true" name="lowSugar" />
            <label for="checkbox8" name="checkbox2_lbl" class="css-label lite-cyan-check">Low Sugar</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="checkbox9" class="css-checkbox" data-val="true" and value="true" name="alcoholFree"  />
            <label for="checkbox9" name="checkbox1_lbl" class="css-label lite-cyan-check">Alcohol Free</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="checkbox10" class="css-checkbox" data-val="true" and value="true" name="balanced"  />
            <label for="checkbox10" name="checkbox2_lbl" class="css-label lite-cyan-check">Balanced</label>
          </td>
        </tr>

        <br>
        <br>

        <p class="header2-text">Your Allergy preferences</p>
<tr>
          <td>
            <input type="checkbox" class="css-checkbox" id="checkbox11" data-val="true" and value="true" name="gluten" />
            <label for="checkbox11" class="css-label dark-check-green">Gluten</label>
          </td>
        </tr>

        <tr>
          <td>
            <input type="checkbox" class="css-checkbox" id="checkbox12" data-val="true" and value="true" name="dairy"/>
            <label for="checkbox12" name="dairy" class="css-label dark-check-green">Dairy</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="css-checkbox" id="checkbox13" data-val="true" and value="true" name="egg"/>
            <label for="checkbox13" name="eggs" class="css-label lite-red-check">Eggs</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="css-checkbox" id="checkbox14" data-val="true" and value="true" name="soy"/>
            <label for="checkbox14" name="soy" class="css-label lite-gray-check">Soy</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="css-checkbox" id="checkbox15" data-val="true" and value="true" name="wheat"/>
            <label for="checkbox15" name="wheat" class="css-label lite-blue-check">Wheat</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="css-checkbox" id="checkbox16" data-val="true" and value="true" name="fish"/>
            <label for="checkbox16" name="fish" class="css-label lite-cyan-check">Fish</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="css-checkbox" id="checkbox17" data-val="true" and value="true" name="shellfish"/>
            <label for="checkbox17" name="shell" class="css-label lite-cyan-check">Shellfish</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="css-checkbox" id="checkbox18" data-val="true" and value="true" name="treeNuts"/>
            <label for="checkbox18" name="treenuts" class="css-label lite-cyan-check">Tree Nuts</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="css-checkbox" id="checkbox19" data-val="true" and value="true" name="peanuts" />
            <label for="checkbox19" class="css-label lite-cyan-check">Peanuts</label>
          </td>
        </tr>

        <br>
        <br>
    </div>
    < <div class="row center">
        <a type="submit" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Update Profile</a>
        </div>
</form>
<div class="row center">
    <a href="" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Saved Meals</a>
</div>
</div>
</div>