<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">

        <ul class="right hide-on-med-and-down">
            <li><a href="/sign-up">Sign Up</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/sign-up">Sign Up</a></li>
        </ul>

        <ul class="right hide-on-med-and-down">
            <li><a href="/login">Log in</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/login">Log in</a></li>
        </ul>

        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/">Home</a></li>
        </ul>


        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<header>
    <h1 class="header-logo"> Your Unique Cuisine Profile</h1>
</header>


    <form action="#">

        <div class="container">

   <h5 class="header col s12 light">Harold Coleman</h5>

   <h5 class="header col s12 light">DreamnMirror</h5>

   <h5 class="header col s12 light">HColeman@gmail.com</h5>

            <p class="header2-text">Your diet preferences</p>
            <tr>
                <td>
            <input type="checkbox" class="css-checkbox" id="checkbox1" checked="checked"/>
                    <label for="checkbox1" name="checkbox19_lbl" class="css-label dark-check-green">Vegetarian</label>
                </td>
            </tr>

            <tr>
                <td>
            <input type="checkbox" id="checkbox2" class="css-checkbox" checked="checked"/>
                    <label for="checkbox2" name="checkbox2_lbl" class="css-label lite-orange-check">Vegan</label>
                </td>
            </tr>
            <tr>
                <td>
            <input type="checkbox" id="checkbox3" class="css-checkbox"/>
                    <label for="checkbox3" name="checkbox2_lbl" class="css-label lite-red-check">Paleo</label>
                </td>
            </tr>
            <tr>
                <td>
            <input type="checkbox" class="css-checkbox" id="checkbox4"/>
                    <label for="checkbox4" name="checkbox1_lbl" class="css-label lite-gray-check">High Fiber</label>
                </td>
            </tr>
            <tr>
                <td>
            <input type="checkbox" id="checkbox5" class="css-checkbox"/>
                    <label for="checkbox5" name="checkbox2_lbl" class="css-label lite-blue-check">Low Carb</label>
                </td>
            </tr>
            <tr>
                <td>
            <input type="checkbox" id="checkbox6" class="css-checkbox"/>
                    <label for="checkbox6" name="checkbox2_lbl" class="css-label lite-cyan-check">Low Fat</label>
                </td>
            </tr>
            <tr>
                <td>
            <input type="checkbox" id="checkbox7" class="css-checkbox"/>
                    <label for="checkbox7" name="checkbox1_lbl" class="css-label lite-cyan-check">Low Sodium</label>
                </td>
            </tr>
            <tr>
                <td>
            <input type="checkbox" id="checkbox8" class="css-checkbox"/>
                    <label for="checkbox8" name="checkbox2_lbl" class="css-label lite-cyan-check">Low Sugar</label>
                </td>
            </tr>
            <tr>
                <td>
            <input type="checkbox" id="checkbox9" class="css-checkbox"/>
                    <label for="checkbox9" name="checkbox1_lbl" class="css-label lite-cyan-check">Alcohol Free</label>
                </td>
            </tr>
            <tr>
                <td>
            <input type="checkbox" id="checkbox10" class="css-checkbox"/>
                    <label for="checkbox10" name="checkbox2_lbl" class="css-label lite-cyan-check">Balanced</label>
                </td>
            </tr>

            <br>
            <br>

            <p class="header2-text">Your Allergy preferences</p>

            <tr>
                <td>
            <input type="checkbox" class="css-checkbox" id="checkbox11" checked="checked"/>
            <label for="checkbox11" name="checkbox1_lbl" class="css-label dark-check-green">Gleuten Free</label>
                </td>
            </tr>

            <tr>
                <td>
            <input type="checkbox" class="css-checkbox" id="checkbox12"/>
                    <label for="checkbox12" name="checkbox2_lbl" class="css-label dark-check-green">Dairy</label>
                </td>
            </tr>
            <tr>
                <td>
            <input type="checkbox" class="css-checkbox" id="checkbox13"/>
                    <label for="checkbox13" name="checkbox1_lbl" class="css-label lite-red-check">Eggs</label>
                </td>
            </tr>
            <tr>
                <td>
            <input type="checkbox" class="css-checkbox" id="checkbox14"/>
                    <label for="checkbox14" name="checkbox2_lbl" class="css-label lite-gray-check">Soy</label>
                </td>
            </tr>
            <tr>
                <td>
            <input type="checkbox" class="css-checkbox" id="checkbox15"/>
                    <label for="checkbox15" name="checkbox1_lbl" class="css-label lite-blue-check">Wheat</label>
                </td>
            </tr>
            <tr>
                <td>
            <input type="checkbox" class="css-checkbox" id="checkbox16">
                    <label for="checkbox16" name="checkbox1_lbl" class="css-label lite-cyan-check">Fish</label>
                </td>
            </tr>
            <tr>
                <td>
            <input type="checkbox" class="css-checkbox" id="checkbox17"/>
                    <label for="checkbox17" name="checkbox2_lbl" class="css-label lite-cyan-check">Shellfish</label>
                </td>
            </tr>
            <tr>
                <td>
            <input type="checkbox" class="css-checkbox" id="checkbox18"/>
                    <label for="checkbox18" name="checkbox1_lbl" class="css-label lite-cyan-check">Tree Nuts</label>
                </td>
            </tr>
            <tr>
                <td>
            <input type="checkbox" class="css-checkbox" id="checkbox19"/>
                    <label for="checkbox19" name="checkbox2_lbl" class="css-label lite-cyan-check">Peanuts</label>
                </td>
            </tr>

            <br>
            <br>

            <br>
            <br>
        </div>

    </form>

<div class="row center">
          <a href="Saved-Meals.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Saved Meals</a>
        </div>
    </div>
</div>