<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Unique Cuisine</title>

  <!-- CSS  -->
  <link href='https://fonts.googleapis.com/css?family=Rubik Mono One|Josefin Slab|Passion One|Permanent Marker|Bowlby One|Abril Fatface|EB Garamond|Old Standard TT|Nothing You Could Do' rel="stylesheet" type='text/css'>
  <link href="/assets/css/materialize1.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/assets/css/indexstyle.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
    {{{ body }}}
</body>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/assets/js/materialize1.js"></script>
<script src="/assets/js/init1.js"></script>

</html>